// Variable overrides
$simple-line-font-path: '~simple-line-icons/fonts/';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts/';
$linearicons-font-path: "~linearicons/dist/web-font/fonts";
$pe-7s-font-path: "~pe7-icon/dist/fonts";
$transparent-bg-info: rgba(#16aaff, 0.1);
$transparent-bg-error: rgba(#d92550, 0.1);

